<header class="site-header">
  <div class="header-inner">
    
    <a href="{{ '/' | relative_url }}" class="logo_link">{{ site.title }}</a>

    <button class="c-nav-hamburger" id="hamburger-nav-btn" aria-expanded="false" aria-controls="site-nav" aria-haspopup="true" aria-label="Open menu">
      <span class="visually-hidden" id="hamburger-nav-open-close">Open</span>
      <span class="c-nav-hamburger__line c-nav-hamburger__line--1" aria-hidden="true"></span>
      <span class="c-nav-hamburger__text" id="hamburger-label">Menu</span>
      <span class="c-nav-hamburger__line c-nav-hamburger__line--2" aria-hidden="true"></span>
    </button>


    <nav id="site-nav" class="site-nav" aria-label="Main menu">
      <ul class="site-nav__list">
        <li><a href="{{ '/case-studies/' | relative_url }}" {% if page.url == '/case-studies/' %}aria-current="page"{% endif %}>Case Studies</a></li>
        <li><a href="{{ '/writing/' | relative_url }}" {% if page.url == '/writing/' %}aria-current="page"{% endif %}>Writing</a></li>
        <li><a href="{{ '/resources/' | relative_url }}" {% if page.url == '/resources/' %}aria-current="page"{% endif %}>Resources</a></li>
        <li><a href="{{ '/cv/' | relative_url }}" {% if page.url == '/cv/' %}aria-current="page"{% endif %}>CV</a></li>            
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

    <div id="nav-overlay" class="nav-overlay" hidden></div>

  </div>

</header>
  